footer {
    background: black;
    height: 209px;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    img {
        height: 40px;
    }

    p {
        font-size: 24px;
        margin: 0px;
    }
}

@media screen and (max-width: 500px) {
    footer {
        background: black;
        height: 209px;
        display: flex;
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        img {
            height: 40px;
        }

        p {
            font-size: 12px;
        }
    }
}