.rating-container {
    .fa-star {
        font-size: 23px;
        padding: 0px 5px;
    }

    .no-star {
        color: #e8e8e8
    }
}


@media screen and (max-width: 600px) {
    .rating-container {
        .fa-star {
            font-size: 15px;
            padding: 0px 3px;
        }

        .no-star {
            color: #e8e8e8
        }
    }

}