.information {
    margin: 0px 80px;
    color: #FF6060;

    .information_titleLocation_namePicture {
        display: flex;
        justify-content: space-between;

        .information_title_location {
            .information_title {
                font-size: 32px;
                margin: 0px 0px 10px 0px;
            }

            .information_location {}
        }

        .information_name_picture {
            display: flex;
            align-items: center;

            .information_name {
                margin: 0;
                font-size: 18px;
                width: 50%;
                font-weight: 100;
            }

            .information_picture {
                height: 60px;
                width: 60px;
                border-radius: 100%;
            }
        }

    }

    .information_tag_rating {
        .information_list {
            .information_tag {}
        }
    }
}