.rating-container {
    i {
        font-size: 23px;
        padding: 0px 5px;
    }
}


@media screen and (max-width: 600px) {
    .rating-container {
        i {
            font-size: 15px;
            padding: 0px 3px;
        }
    }

}